.task {
    cursor: pointer;
}
.task:hover {
    background-color: rgb(216, 237, 255);
}
.task-container {
    padding: .1rem 1rem;
    min-height: 50px; 
    display: flex;
    align-items: center;
}
.task-title-wrapper {
    display: flex;
    flex-direction: column;
}
.task-title {
    font-size: 12px;
    color: #34373d;
}
.task-details .slds-item {
    color: #767678;
    font-size: 11px;
}
.task-status-checkbox {
    cursor: pointer;
}
.mark-as-important-btn {
    margin-left: auto; 
} 