.task-details-content-section {
    margin-bottom: 20px; 
}
.task-detail-action-btn {
    width: 100%;
    min-height: 50px;
    border: 0;
    color: #34373d;
    background: rgba(21, 137, 238, 0.1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 15px;
}
.task-detail-action-btn--active {
    color: #3e69e4;
}
.task-detail-action-btn--bordered:not(:last-child) {
    border-bottom: 1px solid rgba(21, 137, 238, 0.4);
}
.task-detail-action-btn lightning-icon {
    margin-right: 10px; 
}
.task-detail-action-btn:hover {
    background-color: rgba(21, 137, 238, 0.3);
}
.add-task-notes-form {
    padding: 0 0.75rem;
}
.add-task-notes-form lightning-button-group {
    margin-top: .5rem;
}
.remove-btn {
    margin-left: auto; 
}