.slds-badge {
    display: inline-block;
}
.new-task-container {
    padding: .1rem 1rem;
    min-height: 52px; 
    display: flex;
    align-items: center;
}
.new-task-form-wrapper {
    display: flex;
    flex-direction: column;
}
.create-task-form-wrapper {
    background-color: rgba(255,255,255,.5); 
}