.subtask:hover {
    background-color: rgba(21, 137, 238, 0.1);
}
.subtask-container {
    padding: .1rem 1rem;
    height: 40px; 
    display: flex;
    align-items: center;
}
.subtask-title-wrapper {
    display: flex;
    flex-direction: column;
}
.subtask-title {
    font-size: 12px;
    color: #34373d;
}
.subtask-status-checkbox {
    cursor: pointer;
}